@model IEnumerable<LibApp.Models.Book>

@{
    ViewBag.Title = "Books";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Books</h2>

<p>
    <a class="btn btn-primary" href="/books/new">New Book</a>
</p>

<table id="book-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Book</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Genre.Name</td>
                <td>@(book.ReleaseDate.HasValue ? book.ReleaseDate.Value.ToShortDateString() : "")</td>
                <td>
                    <a href="/api/books/details/@book.Id" class="btn btn-primary">Details</a>
                    <a href="/api/books/edit/@book.Id" class="btn btn-success">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" rel="stylesheet" />

    <script>
        $(document).ready(function () {
            $('#book-table').DataTable();
        });
    </script>
}

